<div class="container">
   
  <div class="form-group selectpicker-section">
    <label for="categorySelect"></label>
    <form action="/filter" method="GET" id="selectByCategory">
    <select class="selectpicker show-tick" data-style="btn-info" onchange="onChange()" name="categorySelect">
      <option>{{#if this.cateName }} SELECTED {{/if}} 類別 </option>

      {{#each categories}}
        <option data-icon="{{this.cateIcon}}"" value="{{this.cateName}}""> {{this.title}} </option>
      {{/each}}

    </select>
    </form>
  </div>

</div>

<div class="container">
  <div class="show-cost">
    <div class="text-total">Total：</div>
    <div class="text-count">{{this.totalAmount}}</div>
  </div>
</div>

<div class="container">
  <div class="list-wrapper">
    <div class="list-group">
        {{#each records }}
      <div class="list-items">
        <a href="#" class="item-name list-group-item-action list-item">
          <div class="item-icon"><i class="{{this.iconName.cateIcon3x}}"></i></div>
          <div class="item-title">{{this.name}}</div>
          <div class="item-date">{{this.date}}</div>
          <div class="item-cost">{{this.amount}}</div>
        </a>
        <a href="/records/{{this._id}}">
          <button
            type="button"
            class="btn btn-success list-item-btn"
          >Modify</button>
        </a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger list-item-btn" onclick="return confirmDelete();">Delete</button>
        </form>
      </div>
     {{/each}}
    </div>
  </div>
  <div class="btn-wrapper">
    <a href="/records/new">
      <button type="button" class="btn btn-primary">Add Expense</button>
    </a>
  </div>
</div>

<script>
    function confirmDelete() {
        return confirm('你確定要刪除該筆紀錄嗎?')
    }
     function onChange(e) {
            event.preventDefault(e);
            event.stopPropagation(e);
            document.getElementById("selectByCategory").submit();
        }
</script>