<div class="container">
   
  <div class="form-group selectpicker-section">
    <label for="categorySelect"></label>
    <form action="/search" method="GET" id="selectByCategory"></form>
    <select class="selectpicker show-tick" data-style="btn-info" onchange="submit();" form="selectByCategoy" name="categorySelect">
      <option>類別</option>
      <option data-icon="fas fa-utensils" value="food">餐飲食品</option>
      <option data-icon="fas fa-home" value="home">居家物業</option>
      <option data-icon="fas fa-grin-beam" value="entertainment">休閒娛樂</option>
      <option data-icon="fas fa-shuttle-van" value="traffic">交通出行</option>
      <option data-icon="fas fa-pen" value="others">其他</option>

      {{#each categories}}
        <option data-icon="{{this.cateIcon}}" value=""> {{this.title}} </option>
      {{/each}}
    </select>
    </form>
  </div>

</div>

<div class="container">
  <div class="show-cost">
    <div class="text-total">Total：</div>
    <div class="text-count">{{this.totalAmount}}</div>
  </div>
</div>

<div class="container">
  <div class="list-wrapper">
    <div class="list-group">
        {{#each records }}
      <div class="list-items">
        <a href="#" class="item-name list-group-item-action list-item">
          <div class="item-icon"><i class="{{this.iconName.cateIcon3x}}"></i></div>
          <div class="item-title">{{this.name}}</div>
          <div class="item-date">{{this.date}}</div>
          <div class="item-cost">{{this.amount}}</div>
        </a>
        <a href="/records/{{this._id}}">
          <button
            type="button"
            class="btn btn-success list-item-btn"
          >Modify</button>
        </a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger list-item-btn" onclick="return confirmDelete();">Delete</button>
        </form>
      </div>
     {{/each}}
    </div>
  </div>
  <div class="btn-wrapper">
    <a href="/records/new">
      <button type="button" class="btn btn-primary">Add Expense</button>
    </a>
  </div>
</div>

<script>
    function confirmDelete() {
        return confirm('你確定要刪除該筆紀錄嗎?')
    }
</script>