<form class="add-page was-validated" action="{{ config.action }}" method="POST">
    <div class="form-group ">
        <label>*必填欄位</label>
        <label class="text-ps">請輸入你的支出</label>
    </div>
    <div class="form-group ">
        <label class="form-label" for="exampleFormControlInput1">名稱*：</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="name"
            value="{{ record.name }}" required>
    </div>
    <div class="form-group ">
        <label for="example-datetime-local-input" class="form-label">日期*：</label>
        <div class="">
            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                id="example-datetime-local-input" name="date" value="{{ record.date }}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1" class="form-label">類別*：</label>
        <select class="form-control form-select" id="exampleFormControlSelect1" name="category_en" required>
            <option value="" selected >Open this select menu</option>
            {{#each categories}}
                <option value="{{ this.cateName }}" {{#isEqual this.cateName 'this.cateName'}}selected{{/isEqual}}>
                    {{ this.title }}
                </option>
            {{/each}}
        </select>
        <div class="invalid-feedback">Example invalid select feedback</div>
    </div>
    <div class="form-group ">
        <label for="exampleFormControlInput1" class="form-label">金額*：</label>
        <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com" name="amount" required>
    </div>
    <button type="submit" class="btn btn-primary">新增支出</button>
</form>